/*body {*/
  /*overflow: hidden;*/
/*}*/
#left-display-board {
    color:#92B6D5;
  background-color: lightblue;
  font-family: verdana;
  font-style: italic;
  border-style: dotted;
  border-width: 5px 7px 9px 3px;
  border-color: red green blue yellow;
  background-color: lightblue;
  -webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera */
    animation: mymove 5s infinite;
}

.battleship-name-area {

}
/*to make the color change from one to another:*/
/*applying on .battleship-name-area
/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    from {background-color: lightblue;}
    to {background-color: brown;}
}

/* Standard syntax */
@keyframes mymove {
    from {background-color: lightblue;}
    to {background-color: brown;}
}

.logo {
  height:70px;
  width: 70px;
  display: inline;
}

.outputPrompt {
  width: 300px;
  margin-left: 40px;
  border-style: dotted;
  border-width: 2px;
  border-color: red;
  margin-bottom: 10px;
font-size: 27px;
  background-color: lightpink;
  height: 90px;
}

#score1box {
  background-color: lightyellow;
}

#score2box {
  background-color: lightgreen;
}


.right-display-board {
  width: 700px;
  height: 220px;
  border-style: groove;
  border-width: 4px;
  border-color: orange;
  background-color: lightgreen;

}
#space-battle {
  height: 100px;
  display: inline;

}

h2 {
  display: inline;
   color: #FF00CC;
/*this color is called hot magenta*/
font-size: 40px;
}


#scoreimage {
  width: 100px;
  height: 50px;
  display: inline;
}
/*total score image */
.score {
  border-style: groove;
  border-width: 6px;
  border-color: orange;


}

#spaceman {
  height: 50px;
}
#creature {
  height: 80px;
}
/*p is "Try to find as many pineapples as you can!"*/
.instructions {
font-family: sans-serif;
font-style: italic;
font-size: 20px;
color: #F65314;
font-variant: small-caps;
margin-left: 300px;
height: 20px;
}




.pineapplelogo {
  width: 30px;
  height: 30px;
  background-color: yellow;
}
#spaceboy-image {
  width: 20px;
  height: 20px;

}
.button-area {
  background-color: #DEB887;
  /* color: light-brown*/ ;
}

.display-board {
background-color: #4C6A92;

}

#grid-area {
  background-color: #4A0A92;
/* color = purple */
}

#floor3 {
  background-color: pink;
}

#floor2 {
  background-color: lightblue;

}
#groundfloor {
  background-color: #FF7F50;
/* color: coral */;
}
#walkway {
  background-color:#909090  ;
/* color: grey */
}
#carpet-area {
  background-color: rgb(184,0,0);
/* color: a shade of red */

}


.constraints {

}

#music {
  color: red;
}

.btn {
  height: 30px;
  color: blue;
  background-color: orange;
  font-size: 13px;
}

#pineapple-button {
  width: 20px;
  height: 20px;
  background-color: blue;
}


#titleimage {
  width: 200px;
  height: 50px;
}

#titleimagebox {

}





/*h4 is 'Constraints and Winning Conditions'*/
h4 {
  color: red;

}




ul {
  list-style-type: circle;
  background: #3399ff;
  padding: 20px;
  width: 500px;
}

ul li {
  background: #cce5ff;
  margin: 5px;
}
/*Grid*/
#room-1 {
  background-color: green;
  height: 100px;
  border: 3px solid lightgreen;
}
#room-2 {
 background-color: yellow;
 height: 100px;
 border: 3px solid blue;
}
#room-3 {
background-color: lightyellow;
height: 100px;
border: 3px solid red;
}
#room-4 {
background-color: yellow;
height: 100px;
border: 3px solid lightgreen;
}
#room-5 {
  background-color: lightgreen;
  height: 100px;
  border: 3px solid yellow;
}
#room-6 {
  background-color: yellow;
  height: 100px;
  border: 3px solid green;
}
#room-7 {
  background-color: yellow;
  height: 100px;
  border: 3px solid orange;
}
#room-8 {
  background-color: yellow;
  height: 100px;
  border: 3px solid pink;
}
#room-9 {
  background-color: yellow;
  height: 100px;
  border: 3px solid brown;
}

.table {
  background-color: black;
  width: 1000px;
  height: 20px;
}



