/*body {
  overflow: hidden;
}*/

.display-board {
background-color: #4C6A92;

}

#grid-area {
  background-color: #4A0A92;
}

.play-area {
  color:#92B6D5;
  background-color: cyan;
}

#left-display-board {
  background-color: orange;
}

.constraints {

}

#reset {
  margin-top: 20px;
  margin-bottom: 20px;
}
/*reset button*/
.btn {
  height: 50px;
  color: blue;
  background-color: orange;
  font-size: 20px;
}
.pineapple {
  width: 50px;
  height: 60px;
}

.logo {
  height:50px;
  width: 50px;
}

#pineapple1 {
  width: 30px;
  height: 60px;
}


.outputPrompt {
  margin-left:15px;
  border-style: dotted;
  border-width: 2px;
  border-color: red;
  margin-bottom: 10px;
  margin-right: 5px;
  background-color: lightpink;
}
.right-display-board {
  width: 700px;
  height: 220px;
  border-style: groove;
  border-width: 4px;
  border-color: orange;
  background-color: lightgreen;

}

#scoreimage {
  width: 100px;
  height: 50px;
}
/*total score image */
.score {
  border-style: groove;
  border-width: 4px;
  border-color: orange;

}


#titleimage {
  width: 300px;
  height: 50px;
}

#titleimagebox {
  margin-left: 100px;
  margin-top: 20px;
  margin-bottom:20px;
  border-style: dotted;
  border-width: 5px 7px 9px 3px;
  border-color: red green blue yellow;
  width: 400px;
  height: 60px;
  padding-bottom: 10px;
  background: lightblue;
  -webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera */
    animation: mymove 5s infinite;
}

/*to make the color change from one to another:*/
/*applying on #titleimagebox*/
/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    from {background-color: lightblue;}
    to {background-color: brown;}
}

/* Standard syntax */
@keyframes mymove {
    from {background-color: lightblue;}
    to {background-color: brown;}
}

/*p is "Try to find as many pineapples as you can!"*/
p {
font-family: sans-serif;
font-style: italic;
font-size: 40px;
color: #F65314;
font-variant: small-caps;
margin-left: 300px;
}
h2 {


}
/*h4 is 'Constraints and Winning Conditions'*/
h4 {
  color: red;

}
/*h5 is the score display*/

h5{
  color: #FF00CC;
/*this color is called hot magenta*/
 font-size: 23px;
}

ul {
  list-style-type: circle;
  background: #3399ff;
  padding: 20px;
  width: 500px;
}

ul li {
  background: #cce5ff;
  margin: 5px;
}
/*Grid*/
#room-1 {
  background-color: green;
  height: 100px;
}
#room-2 {
 background-color: yellow;
 height: 100px;
}
#room-3 {
background-color: lightyellow;
height: 100px;
}
#room-4 {
background-color: yellow;
height: 100px;
}
#room-5 {
  background-color: lightgreen;
  height: 100px;
}
#room-6 {
  background-color: yellow;
  height: 100px;
}
#room-7 {
  background-color: yellow;
  height: 100px;
}
#room-8 {
  background-color: yellow;
  height: 100px;
}
#room-9 {
  background-color: yellow;
  height: 100px;
}

.table {
  background-color: black;
  width: 1000px;
  height: 20px;
}



